:root
{
    --red-color: #e50914;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border-b
{
    border-bottom: 8px solid #222;
}

.container
{
    max-width: 75%;
    margin: 0 auto;
}

.show
{
    display: block !important;
}

/* Header */
.showcase
{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../IMAGES/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.showcase::after
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 120px 120px 320px rgba(0, 0, 0, 0.6), inset -120px -120px 320px rgba(0, 0, 0, 0.6);
}

.logo{
    width: 50%;
    height: 90px;
    z-index: 1;
    position: relative;
}
.logo img
{
    max-width: 160px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -30%);
}
.sign-in
{
    top: 6%;
    position: absolute;
    right: 5%;
    transform: translate(25%, -25%);
    width: 100px;
    height: 60px;
    z-index: 1;
}

header .content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    z-index: 1;
}
header .content h1
{
    font-size: 4rem;
    font-weight: 600;
    margin: 5px;
}
header .content h2
{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 5px;
    padding: 10px;
}
 .subscribe p
{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 5px;
    padding: 10px;
}
.subscribe input[type="email"]
{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    outline: none;
    font-size: 1.2rem;
}

.form-box
{
    display: grid;
    grid-template-columns: 2fr 1fr;
}


/* Section 1 */

section
{
    background-color: black;
    color: white;
}
section .text-card
{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    grid-template-columns: 1.5fr 1.5fr;
}
section .text h1
{
    font-size: 3rem;
    margin: 10px;
}
section .text p
{
    margin: 10px;
    font-weight: 400;
    font-size: 1.6rem;
}

/* Questions */
.questions h1
{
    padding-top: 100px;
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}

.collapsing-tabs
{
    width: 70%;
    margin: 30px auto;
}

.collapsing-tabs .tab-item
{
    background-color: #303030;
    height: 60px;
    color: white;
    margin-top: 7px;
    cursor: pointer;
    font-size: 1.4rem;
    border-bottom: 2px solid black;
    position: relative;
}

#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content,
#tab-5-content{
    display: none;
}
.left
{
    position: absolute;
    top: 12%;
    left: 5%;
}
.toggler
{
    position: absolute;
    right: 5%;
    top: 12%;
}
.collapsing-tabs .tab-content
{
    background-color: #303030;
    padding: 20px 30px;
    color: white;
    font-size: 1.6rem;
    position: relative;
    transition: 4s ease-in-out;
}

footer
{
    background: black;
}
#main-footer
{
    width: 65%;
    padding: 50px;
    color: #757575;
}
#main-footer h3
{
    font-size: 16px;
    font-weight: 500;
}

#main-footer h3 a
{
    font-size: 16px;
    color: #757575;
    text-decoration: none;
    font-weight: 500;
}

#main-footer a:hover
{
    text-decoration: underline;
}

.links
{
    display: grid;
    margin: 30px 0px;
    grid-template-columns: repeat(4, 1fr);
}

.links a
{
    display: inline-block;
    color: #757575;
    font-size: 15px;
    margin: 6px;
    text-decoration: none;
}
.links ul
{
    display: inline-block;
}
.links li
{
    list-style-type: none;
}

/* Buttons */
.btn
{
    text-transform: capitalize;
    text-align: center;
    background-color: var(--red-color);
    border: 0;
    font-size: medium;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3px;
}

.btn-xl
{
    font-size: 1.9rem;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 1.2rem 2rem;
}

.for-vid1
{
    position: relative;
}
.for-vid1 img
{
    position: relative;
    z-index: 2;
}
.for-vid1 video
{
    position: absolute;
    left: 13%;
    top: 20%;
    width: 100%;
    max-width: 73%;
    max-height: 54%;
}
.for-vid2
{
    position: relative;
}
.for-vid2 img
{
    position: relative;
    z-index: 2;
}
.for-vid2 video
{
    position: absolute;
    left: 19%;
    top: 9%;
    max-width: 60%;
    max-height: 50%;
}



@media (max-width:840px)
{
    .container
    {
        max-width: 100%;
    }
    header .content h1
    {
        font-size: 2.5rem;
        font-weight: 500;
        margin: 5px;
    }
    header .content h2
    {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 5px;
        padding: 10px;
    }
    .subscribe p
    {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin: 5px;
        padding: 10px;
    }
    .questions h1
    {
        padding-top: 100px;
        text-align: center;
        text-transform: capitalize;
        font-size: 2.5rem;
    }

    .btn-xl
    {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 1rem 1.2rem;
    }

    .links
    {
        display: grid;
        margin: 30px 0px;
        grid-template-columns: repeat(2, 1fr);
    }

    .collapsing-tabs .tab-content
    {
        background-color: #303030;
        padding: 20px 30px;
        color: white;
        /* display: none; */
        font-size: 1.3rem;
        position: relative;
    }


    .collapsing-tabs .tab-item
    {
        background-color: #303030;
        height: 50px;
        color: white;
        margin-top: 7px;
        font-size: 1.3rem;
        border-bottom: 2px solid black;
        position: relative;
    }
    .showcase::after
    {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: inset 70px 70px 320px rgba(0, 0, 0, 0.6), inset -70px -70px 320px rgba(0, 0, 0, 0.6);
    }

    .form-box
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    section .text-card
    {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }
    section .text h1
    {
        font-size: 2.3rem;
        margin: 10px;
    }
    section .text p
    {
        margin: 10px;
        font-weight: 300;
        font-size: 1.2rem;
    }

}


@media (max-width:500px)
{

    
    .logo
    {
        width: 35%;
        height: 40px;
        z-index: 1;
        position: relative;
    }
    .logo img
    {
        max-width: 120px;
        position: absolute;
        top: 90%;
        left: 30%;
    }
    header .content h1
    {
        font-size: 1.7rem;
        font-weight: 500;
        margin: 5px;
    }
    header .content h2
    {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 5px;
        padding: 10px;
    }
    .subscribe input[type="email"]
    {
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        outline: none;
        font-size: 1.2rem;
    }

    .subscribe p
    {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin: 5px;
        padding: 10px;
    }
    .questions h1
    {
        padding-top: 100px;
        text-align: center;
        text-transform: capitalize;
        font-size: 2rem;
    }

    .btn-xl
    {
        font-size: 1rem;
        font-weight: 400;
        padding: 0.5rem 1rem;
    }

    .links
    {
        display: grid;
        margin: 30px 0px;
        grid-template-columns: repeat(1, 1fr);
    }

    .collapsing-tabs .tab-content
    {
        background-color: #303030;
        padding: 20px 10px;
        color: white;
        /* display: none; */
        font-size: 0.8rem;
        position: relative;
    }


    .collapsing-tabs .tab-item
    {
        background-color: #303030;
        height: 50px;
        color: white;
        margin-top: 7px;
        font-size: 0.9rem;
        border-bottom: 2px solid black;
        position: relative;
    }
    .showcase::after
    {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: inset 40px 40px 320px rgba(0, 0, 0, 0.6), inset -40px -40px 320px rgba(0, 0, 0, 0.6);
    }

    section .text-card
    {
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
        grid-template-columns: 1fr;
    }
    section .text h1
    {
        font-size: 1.5rem;
        margin: 10px;
    }
    section .text p
    {
        margin: 10px;
        font-weight: 300;
        font-size: 1rem;
    }

}












.form
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}.button-box
{
    width: 100%;
    height: 100%;
}
.form input
{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 20px 10px;
    outline: none;
    font-size: 1.5rem;
}

.label-email
{
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
}

.content-email
{
    position: absolute;
    left: 2%;
    top: 50%;
    font-size: 1.3rem;
    transform: translate(0, -50%);
    transition: 0.3s ease;
}

.form input:focus + .label-email .content-email,
 .form input:valid + .label-email .content-email
{
    color: black;
    top: 18%;
    left: 2%;
    font-size: 1rem;
}